<nav class="navbar navbar-expand-md bg-dark navbar-dark nav-fill">
  <div class="collapse navbar-collapse justify-content-center" id="nav1">

    <ul class="navbar-nav" >




    <li class="nav-item mr-4">
      <a class="dropdown-item" href="#" [routerLink]="['/about']">O mnie </a>
    </li>
    <li class="nav-item mr-4">
      <a class="dropdown-item" href="#" [routerLink]="['/test']">Test</a>
    </li>
      <li class="nav-item mr-4">
        <a class="dropdown-item" href="#" [routerLink]="['/algorytmy']">Algorytmy</a>
      </li>
    </ul>
  </div>
</nav>


