<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">
    <form>
      <div class="form-group row">
        <table class="table-striped">
          <tbody>

          <tr> zmodyfikowana >>

            <th *ngFor="let element of array1"> {{element}}</th>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
        <label> Oryginalna tablica >> {{primaryArray}}</label>


      </div>
      <br>

    </form>
  </div>
  <div class="card-footer">
    <button class="btn btn-outline-info"
            (click)="alfabetycznie()">Posortowana
      alfabetycznie
    </button>
    <button class="btn btn-outline-info"
                     (click)="rosnaco()">Posortowana rosnąco
  </button>
    <button class="btn btn-outline-info"
            (click)="dublowanie()">bez dublowania
    </button>
    <button class="btn btn-outline-info"
            (click)="pieciocyfrowe()">pieciocyfrowe %3
    </button>
    <button class="btn btn-outline-info"
            (click)="evenElements()">Parzyste
    </button>
    <button class="btn btn-outline-info"
            (click)="divisibleBy4()">Podzielne przez 4
    </button>
    <button class="btn btn-outline-info"
            (click)="notDivisibleBy4()">Niepodzielne przez 4
    </button>

  </div>
</div>

